# Q2

### What is the relationship between GDP,  population, and amount of waste?

#### Economics: GDP/ Population and Income correlates with waste produced

##### (Gross domestic product (GDP) is the standard measure of the value added created through the production of goods and services in a country during a certain period. As such, it also measures the income earned from that production, or the total amount spent on final goods and services (less imports).
#####  (We wanted to ask this question because we wanted to see if there's any correlation between house income and if it corrlates with the amount of waste. See if poorer regions have more trash or vice versa.)

In [6]:
# A2.) Python: Correlations

In [7]:
# Steps: 

# Import Packages
# Import Dataset
# DW: Subsetting 
# Analysis: Correlation 
# Results

# Import Packages

In [15]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
pd.options.display.max_rows = None
pd.options.display.max_columns = None

# Import Dataset

In [ ]:
# DS_0.3: Waste Global: Country_level

In [16]:
c_sw = pd.read_csv("/Users/julieraeboucher/Desktop/Final Project /2. Datasets/Original Datasets/country_level_data_0 (3).csv")

# DW: Subsetting (specific columns)

In [17]:
c_sw1 = c_sw[["country_name", "gdp", "population_population_number_of_people", "total_msw_total_msw_generated_tons_year"]]
c_sw1.head()

,country_name,gdp,population_population_number_of_people,total_msw_total_msw_generated_tons_year
0,Aruba,NaN,103187.0,8.813202e+04
1,Afghanistan,2.141361e+10,34656032.0,5.628525e+06
2,Angola,1.030420e+11,25096150.0,4.213644e+06
3,Albania,1.347108e+10,2880703.0,1.142964e+06
4,Andorra,3.319880e+09,82431.0,4.300000e+04

# Analysis: Correlation

In [18]:
c_sw1.corr(method='pearson').style.format("{:.2}").background_gradient(cmap=plt.get_cmap('coolwarm'), axis=1)

# Results

In [5]:
# Scale: Low to High correlation ranging between 0(-#) and 1 

#- Correlation between gdp and total generated waste per year in tons is 89% -> extremely high 

#- Correlation between population and total generated waste per year in tons is 83% -> high

#- Correlation between population and gdp is 57% -> slightly above high correlation